*~
Makefile
autom4te.cache/
config.*
configure
libtool
.idea/
.libs/
autom4te.cache/
build/
configure~
gen_context
gen_context.o
COPYING
TODO
aclocal.m4
clintercept.conf
libsecp256k1.la
libsecp256k1.pc
m.m
res.out
scr.sh
test-suite.log
tests
tests.log
tests.trs
tm.p
src/*.o
src/.deps/

verifier
data/
Makefile.in
build-aux/m4/lt~obsolete.m4
build-aux/m4/ltversion.m4
build-aux/m4/ltsugar.m4
build-aux/m4/ltoptions.m4
build-aux/ltmain.sh
build-aux/m4/libtool.m4

src/libsecp256k1_la-secp256k1.o
src/libsecp256k1_la-secp256k1.lo
src/libsecp256k1-config.h
src/.deps/libsecp256k1_la-secp256k1.Plo
logs
hosts
